# Ignore binary files
*.exe

# Ignore my groups trainings.
Groups/

# Ignore my code images.
CodeSnap/

# Ignore VSCode's folder.
.vscode/

# Ignore VSCode's temp files.
tempCodeRunner.*
tempCodeRunnerFile.*

# Ignore my files management program
Manage/